# Auto Data Cleaning

Imorting libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import impute
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
import time

%matplotlib inline

## Upload Data File 
Accepting Formats are
- .csv
- .xlsx
- .json

In [2]:
file_name = 'diabetes.csv'

file_format = file_name.split('.')[-1]

if file_format == 'csv':
    data = pd.read_csv(file_name)
elif file_format == 'xlsx':
    data = pd.read_excel(file_name)
elif file_format == 'json':
    data = pd.read_json(file_name)
else:
    print('File Does Not Supported.')

In [3]:
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72.0,35.0,0.0,33.6,0.627,50,1
1,1,85,66.0,29.0,0.0,26.6,0.351,31,0
2,8,183,64.0,0.0,0.0,23.3,0.672,32,1
3,1,89,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115,NaN,0.0,0.0,35.3,0.134,29,0
8,2,197,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125,96.0,0.0,0.0,0.0,0.232,54,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               767 non-null float64
SkinThickness               767 non-null float64
Insulin                     767 non-null float64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(5), int64(4)
memory usage: 54.1 KB

In [5]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,767.000000,767.000000,767.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.195567,20.563233,79.903520,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.206609,15.945349,115.283105,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.500000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Handile Missing Data

missing_data_type
- 0 (zero value)
- ?
- nan

In [6]:
# Handile NaN/Null Data
tic = time.time()

strategy='mean'

columns = data.columns
imput   = impute.SimpleImputer(missing_values=np.NaN, strategy=strategy)
data    = list(imput.fit_transform(data))
data    = pd.DataFrame(data)

data.columns = columns

toc = time.time()
print(f'Cell Runtime {1000 * (toc-tic)} ms')
data

Cell Runtime 10.992288589477539 ms

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1.0
...,...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0.0
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0.0
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0.0
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1.0
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null float64
Glucose                     768 non-null float64
BloodPressure               768 non-null float64
SkinThickness               768 non-null float64
Insulin                     768 non-null float64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null float64
Outcome                     768 non-null float64
dtypes: float64(9)
memory usage: 54.1 KB

In [8]:
# Handile Zero Data
tic = time.time()

missing_col = []
missing_data = data.isin([0])
for i in data.columns:
    if sorted(missing_data[i].unique())[-1]:
        missing_col.append(i)

toc = time.time()
print(f'Cell Runtime {1000 * (toc-tic)} ms')
missing_col

Cell Runtime 3.9970874786376953 ms

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'Outcome']

In [9]:
print('Missing Data\n')
for i in missing_col:
    print(len(data[data[i]==0 ]), '\t:', i)

Missing Data

111 	: Pregnancies
5 	: Glucose
34 	: BloodPressure
226 	: SkinThickness
373 	: Insulin
11 	: BMI
500 	: Outcome

In [10]:
data[missing_col].describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.195567,20.563233,79.903520,31.992578,0.348958
std,3.369578,31.972618,19.194084,15.934951,115.207929,7.884160,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.300000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,34.000000,32.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,1.000000

### Ask for removing zero values from column 
- Pregnancies 
- Glucose *
- loodPressure *
- SkinThickness *
- Insulin *
- BMI *
- Outcome

In [11]:
print(missing_col)

['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'Outcome']

In [12]:
missing_col_new = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']
missing_col_new

['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

In [13]:
# Handile NaN/Null Data
tic = time.time()

strategy='mean'
columns = data.columns

temp_data = data[missing_col_new]

imput   = impute.SimpleImputer(missing_values=0, strategy=strategy)
temp_data    = list(imput.fit_transform(temp_data))
temp_data    = pd.DataFrame(temp_data)

data[missing_col_new] = temp_data

data.columns = columns

toc = time.time()
print(f'Cell Runtime {1000 * (toc-tic)} ms')
data.head()

Cell Runtime 9.000062942504883 ms

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.000000,155.356718,33.6,0.627,50.0,1.0
1,1.0,85.0,66.0,29.000000,155.356718,26.6,0.351,31.0,0.0
2,8.0,183.0,64.0,29.137571,155.356718,23.3,0.672,32.0,1.0
3,1.0,89.0,66.0,23.000000,94.000000,28.1,0.167,21.0,0.0
4,0.0,137.0,40.0,35.000000,168.000000,43.1,2.288,33.0,1.0

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null float64
Glucose                     768 non-null float64
BloodPressure               768 non-null float64
SkinThickness               768 non-null float64
Insulin                     768 non-null float64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null float64
Outcome                     768 non-null float64
dtypes: float64(9)
memory usage: 54.1 KB

In [15]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.400811,29.137571,155.356718,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.435949,12.096901,8.796402,85.064859,6.875151,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.750000,64.000000,25.000000,120.000000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.137571,155.356718,32.400000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,155.356718,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Split Data into Features and Labels

- Get input from user fot Fratures (X)
 * Pregnancies
 * Glucose
 * BloodPressure
 * SkinThickness
 * Insulin
 * BMI
 * DiabetesPedigreeFunction
 * Age
 <br><br>
- Get input from user fot Fratures (Y)
 * Outcome

In [16]:
X = data[['Pregnancies',
          'Glucose', 
          'BloodPressure',
          'SkinThickness',
          'Insulin',
          'BMI', 
          'DiabetesPedigreeFunction', 
          'Age']]

Y = data['Outcome']

In [17]:
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.000000,155.356718,33.6,0.627,50.0
1,1.0,85.0,66.0,29.000000,155.356718,26.6,0.351,31.0
2,8.0,183.0,64.0,29.137571,155.356718,23.3,0.672,32.0
3,1.0,89.0,66.0,23.000000,94.000000,28.1,0.167,21.0
4,0.0,137.0,40.0,35.000000,168.000000,43.1,2.288,33.0

In [18]:
Y.head()

0    1.0
1    0.0
2    1.0
3    0.0
4    1.0
Name: Outcome, dtype: float64

## Normalize the data

In [19]:
columns = X.columns
X = pd.DataFrame(normalize(X, norm='max', axis=0))
X.columns = columns
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.352941,0.743719,0.590164,0.353535,0.183637,0.500745,0.259091,0.617284
1,0.058824,0.427136,0.540984,0.292929,0.183637,0.396423,0.145041,0.382716
2,0.470588,0.919598,0.524590,0.294319,0.183637,0.347243,0.277686,0.395062
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.069008,0.259259
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.945455,0.407407

In [20]:
X.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,0.226180,0.611491,0.593449,0.294319,0.183637,0.483718,0.194990,0.410381
std,0.198210,0.152944,0.099155,0.088853,0.100549,0.102461,0.136913,0.145188
min,0.000000,0.221106,0.196721,0.070707,0.016548,0.271237,0.032231,0.259259
25%,0.058824,0.501256,0.524590,0.252525,0.141844,0.409836,0.100723,0.296296
50%,0.176471,0.587940,0.590164,0.294319,0.183637,0.482861,0.153926,0.358025
75%,0.352941,0.704774,0.655738,0.323232,0.183637,0.545455,0.258781,0.506173
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Split Data to Train Test

Get The train test size ratio
- 80:20
- 70:30
- 60:40

In [21]:
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, train_size=.8, random_state=5)

In [22]:
print('Shape of train_X : ', train_X.shape)
print('Shape of train_Y : ', train_Y.shape)
print('Shape of test_X  : ', test_X.shape)
print('Shape of test_Y  : ', test_Y.shape)

Shape of train_X :  (614, 8)
Shape of train_Y :  (614,)
Shape of test_X  :  (154, 8)
Shape of test_Y  :  (154,)